<!DOCTYPE html>
<html>
<head>
  <title>Facetalker</title>
  <%= stylesheet_link_tag    "facetalker/application", media: "all" %>
  <%= javascript_include_tag "facetalker/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
